

.homeContainer{
    display: grid;
    grid-template-columns: minmax(0, 100%);
    grid-template-rows: auto;

   
    
}

.homeContainer .row1{
    display: grid;
    grid-template-columns: 65rem auto;
    grid-template-rows: 1fr;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    

}


.homeContainer .row1 .title{
    grid-area: 1/1;
    line-height: 0.7rem;
    pointer-events: none;
}


.homeContainer .row1 .title h1{
    font-size: 7rem;
    font-weight: 100;
}

.homeContainer .row1 .title p{
    font-size: 7rem;
    font-weight: 500;
    color: #090D3A;
}


.homeContainer .row1 .desc{
    grid-area: 1/2;
    padding-top: 2rem;
}


.homeContainer .row1 .desc p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 30px;
    
}


.homeContainer .row1 .desc p span{
    color: #006FFF;
    
}


.homeContainer .row1 .desc .buttons{
    display: flex;
    flex-direction: row;
    gap: 4%;
}



.homeContainer .row1 .desc .buttons button{
    border-radius: 15px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
     transition: 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
}

.homeContainer .row1 .desc .buttons button:hover{
    transform: translateY(-2px);
    cursor: pointer;

}



.homeContainer .row1 .desc .buttons button:nth-child(1){
    border: none;
    color: white;
    background: #09F7F9;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    box-shadow: 2px 2px 10px #09F7F9;
    
}



.homeContainer .row1 .desc .buttons button:nth-child(2){
    border: 1px solid #ECECEC;
    background-color: transparent;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* fallback */
    color: transparent;
}




.homeContainer .row1 .servicesContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column: 1 / -1; 
    grid-row: 2;
    margin: 2rem;
    gap: 4rem;
    
}


.homeContainer .row1 .servicesContainer .service{
    
    border-radius: 12px;
    background: linear-gradient(56deg, #09F7F9, #1A90DA);
    display: inline-block;
    padding: 2.4px;
    box-shadow: 1px 1px 10px #8cfdff;
    transition: box-shadow 0.3s ease-in-out;
   
}



.homeContainer .row1 .servicesContainer .service:hover{
    box-shadow: 0 0 5px #09F7F9, 0 0 10px #1A90DA;
}



.homeContainer .row1 .servicesContainer .service .content{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 2.7rem auto;
    justify-items: center;
    border-radius: 10px;            
    background: white;               
    padding: 40px;       
    height: 20rem;    
    pointer-events: none;        
}

.homeContainer .row1 .servicesContainer .service .icon{
   grid-area: 1/1;
}

.homeContainer .row1 .servicesContainer .service .title{
    grid-area: 2/1;
}

.homeContainer .row1 .servicesContainer .service .desc{
    grid-area: 3/1;
}



.homeContainer .row1 .servicesContainer .service .icon i{
     background: #09F7F9;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    padding: 1rem;
    border-radius: 100px;
    color: white;
    font-size: 1.8rem;
    
}





.homeContainer .row1 .servicesContainer .service .title h1{
    font-size: 1.8rem;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    color: #3B3A3A;
}


.homeContainer .row1 .servicesContainer .service .desc p{
    font-size: 1.4rem;
    text-align: center;
    line-height: 30px;
   
    color: #5B5959;
}





/*row 2*/


.homeContainer .row2{
    grid-area: -1/1;
    grid-row: 2;
    height: 105%;
    position: relative;
    z-index: 2;
    background-color: #F9F9FF;
    
    
    

}


.homeContainer .row2 .row2Content{
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    max-width: 1400px;
    margin: 0 auto;
    align-items: end;
}



.homeContainer .row2 .title{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem auto;
    justify-items: center;
    pointer-events: none;
}


.homeContainer .row2 .title h1{
   
    font-size: 7rem;
    font-weight: 400;
    margin-top: 4rem;

}


.homeContainer .row2 .title p{
    text-align: center;
    align-items: center;
    width: 70%;

    font-size: 2rem;
    font-weight: 300;
    color: #656565;
}



.homeContainer .row2 .paymentPlanContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5rem 24rem 5rem auto;
    width: 40%;
    height: 100%;
    padding: 1rem;
    
}



.homeContainer .row2 .paymentPlanContainer .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: none;
    
}



.homeContainer .row2 .paymentPlanContainer .header .title2{
    line-height: 10px;
    
}


.homeContainer .row2 .paymentPlanContainer .header .title2 h1{
    font-size: 2rem;
    font-weight: 400;
}


.homeContainer .row2 .paymentPlanContainer .header .title2 p{
    
    font-weight: 300;
}


.homeContainer .row2 .paymentPlanContainer .header .highlight p{
    color: white;
    background: #D61CDA;
    background: linear-gradient(56deg, rgba(214, 28, 218, 1) 0%, rgba(103, 17, 105, 1) 100%);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #D61CDA;
    pointer-events: none;
}



.homeContainer .row2 .paymentPlanContainer .desc .title3 h1{
    font-size: 1rem;
    color: #403F3F;
    font-weight: 400;
    pointer-events: none;
    
}




.homeContainer .row2 .paymentPlanContainer .desc .content .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    pointer-events: none;
}


.homeContainer .row2 .paymentPlanContainer .desc .content .item i{
    color: #09F7F9;
}




.homeContainer .row2 .paymentPlanContainer .perfect{
   
    width: 100%;
    text-align: center;
    pointer-events: none;


}


.homeContainer .row2 .paymentPlanContainer .perfect p{
    border-radius: 15px;
    border: 1px solid #090D3A;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}




.homeContainer .row2 .paymentPlanContainer .priceContainer{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   pointer-events: none;

}


.homeContainer .row2 .paymentPlanContainer .priceContainer .cost{
    display: flex;
    flex-direction: row;
    justify-items: start;
    gap: 3px;
}


.homeContainer .row2 .paymentPlanContainer .priceContainer .cost h1{
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    height: fit-content;
    margin: 0;

}



.homeContainer .row2 .paymentPlanContainer .priceContainer .cost p{
    color: #A5A5A5;
    font-weight: 300;
   
    letter-spacing: 1px;
    font-size: 0.9rem;

}



.homeContainer .row2 .paymentPlanContainer .paymentButton{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}




.homeContainer .row2 .paymentPlanContainer .paymentButton button{

     border: none;
    border-radius:25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 8.4rem;
    padding-right: 8.4rem;
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
   
    background: #09F7F9;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    
    transition: 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);


}



.homeContainer .row2 .paymentPlanContainer .paymentButton button:hover{
    transform: translateY(-2px);
    cursor: pointer;

}



/*row 3*/


.homeContainer .row3{
    grid-area: -1/1;
    grid-row: 3;
    height: 105%;
    
    background-color: #EAFDFF;
    
    
    

}


.homeContainer .row3 .row3Content{
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    max-width: 1400px;
    margin: 0 auto;
}



.homeContainer .row3 .title{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 11rem auto;
    justify-items: center;
    pointer-events: none;
}


.homeContainer .row3 .title h1{
   
    font-size: 7rem;
    font-weight: 400;
    margin-top: 6rem;

}


.homeContainer .row3 .title p{
    text-align: center;
    align-items: center;
    width: 70%;
    margin-bottom: 4rem;

    font-size: 2rem;
    font-weight: 300;
    color: #656565;
}



.homeContainer .row3 .courseContainer{
   
    width: 40%;
    height: 100%;
}


.homeContainer .row3 .courseContainer .course{
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 12rem 23rem auto;
    border-radius: 25px;
    background-color: white;
    
    height: fit-content;
}



.homeContainer .row3 .courseContainer .course .courseIMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
   
    
}



.homeContainer .row3 .courseContainer .course .courseIMG img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}



.homeContainer .row3 .courseContainer .course .courseHeader{
    display: flex;
    flex-direction: column;
    pointer-events: none;
    padding: 1rem;
    
}


.homeContainer .row3 .courseContainer .course .courseHeader  h1{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
     font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.homeContainer .row3 .courseContainer .course .courseHeader  p{
    
    font-weight: 300;
    color: #ADADAD;
    margin-top: 0.4rem;
    font-size: 1.3rem;
    line-height: 25px;
}




.homeContainer .row3 .courseContainer .course .included{
    padding: 1rem;
    pointer-events: none;
}




.homeContainer .row3 .courseContainer .included  h1{
    font-size: 1rem;
    color: #403F3F;
    font-weight: 400;
    
}




.homeContainer .row3 .courseContainer .included .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}


.homeContainer .row3 .courseContainer .included .item i{
    color: #09F7F9;
}






.homeContainer .row3 .courseContainer .priceContainer{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: none;

}




.homeContainer .row3 .courseContainer .priceContainer h1{
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    height: fit-content;
    margin: 0;

}



.homeContainer .row3 .courseContainer .priceContainer p{
    color: #D61CDA;
    font-weight: 300;
   
    letter-spacing: 1px;
    font-size: 0.9rem;

}



.homeContainer .row3 .courseContainer .courseButton{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}




.homeContainer .row3 .courseContainer .courseButton button{

     border: none;
    border-radius:25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 8.4rem;
    padding-right: 8.4rem;
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
   
    background: #09F7F9;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    
    transition: 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);


}



.homeContainer .row3 .courseContainer .courseButton button:hover{
    transform: translateY(-2px);
    cursor: pointer;

}


.homeContainer .row3 .courseContainer .course .courseButton{
    padding: 1rem;
}





/*row 4*/


.homeContainer .row4{
    grid-area: -1/1;
    grid-row: 4;
    height: 105%;
    pointer-events: none;
    
   
    
    
    

}


.homeContainer .row4 .row4Content{
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    max-width: 1400px;
    margin: 0 auto;
}



.homeContainer .row4 .title{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 11rem auto;
    justify-items: center;
}


.homeContainer .row4 .title h1{
   
    font-size: 3rem;
    font-weight: 400;
    margin-top: 6rem;

}


.homeContainer .row4 .title h1 span{
    color: #09F7F9;
}


.homeContainer .row4 .compareTable{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}


.homeContainer .row4 .compareTable table{
    text-align: left;
    border-collapse: collapse;
    width: 90%;
    
}

.homeContainer .row4 .compareTable table td, th {
    border-top: 1px solid #B9B9B9;
    padding: 16px 70px;
    font-weight: 400;
    font-size: 1.5rem;
}


.homeContainer .row4 .compareTable table th:nth-child(2), th:nth-child(3)  {
    font-weight: 400;
    background-color: transparent;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* fallback */
    color: transparent;
}







/*row 5*/


.homeContainer .row5{
    grid-area: -1/1;
    grid-row: 5;
    height: 105%;
    
   
    
    
    

}


.homeContainer .row5 .row5Content{
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    max-width: 1400px;
    width: 100%;
    gap: 25px;
    margin: 0 auto;
}



.homeContainer .row5 .title{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 11rem auto;
    justify-items: center;
    pointer-events: none;
}


.homeContainer .row5 .title h1{
   
    font-size: 5rem;
    font-weight: 400;
    margin-top: 6rem;

}


.homeContainer .row5 .title h1 span{
    color: #09F7F9;
}



.homeContainer .row5 .infoCardContainers{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.homeContainer .row5 .infoCardContainers .card{
    padding: 1rem;
    border-radius: 10px;
    background-color: #D2FFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    transform: translateY(0);
    transition: 0.3s ease-in-out;
}


.homeContainer .row5 .infoCardContainers .card:hover{
    transform: translateY(-4px);
}


.homeContainer .row5 .infoCardContainers .card .icon i{
    background: #09F7F9;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    padding: 0.6rem;
    border-radius: 100px;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}


.homeContainer .row5 .infoCardContainers .card .text p{
    font-size: 1.1rem;
    pointer-events: none;
}




/*row 6*/


.homeContainer .row6{
    grid-area: -1/1;
    grid-row: 6;
    height: 100%;
    background-color: #EAFDFF;
    margin-top: 3rem;
    
   
    
    
    

}


.homeContainer .row6 .row6Content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    max-width: 1400px;
    width: 100%;
    
    margin: 0 auto;

}


.homeContainer .row6 .row6Content .cardContainer{
    display: grid;
    grid-template-columns: 25rem auto;
    grid-template-rows: 1fr;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    border-radius: 17px;
    margin-top: 3rem;
    background-color: #090D3A;
    color: white;
    
}


.homeContainer .row6 .row6Content .cardContainer .cardContent{
    pointer-events: none;
    
}


.homeContainer .row6 .row6Content .cardContainer .cardContent h1{
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 0;

}


.homeContainer .row6 .row6Content .cardContainer .cardContent h1 span{
    background-color: transparent;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* fallback */
    color: transparent;
}


.homeContainer .row6 .row6Content .cardContainer .cardContent p{
    margin-top: 0.5rem;
    width: 100%;
    line-height: 25px;
    font-size: 1.4rem;
    font-weight: 300;
}



.homeContainer .row6 .row6Content .cardContainer .cardButton button{
    border: 1px solid #282D69;
    border-radius: 15px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    transition: 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
    
    font-size: 1.3rem;
    background-color: transparent;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* fallback */
    color: transparent;

}



.homeContainer .row6 .row6Content .cardContainer .cardButton button:hover{
    transform: translateY(-2px);
    cursor: pointer;

}