.NavContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 1400px;
    width: 100%;
    align-items: start;
    margin: 0 auto;




}

.NavContainer p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--text-tertiary);
    transition: 0.2s ease-in-out;

}


.NavContainer p:hover {
    color: #09F7F9;
    animation: moveGradient 3s ease-in-out infinite;
    cursor: pointer;
}

.NavContainer .navLogo {
    width: 100%;
    height: 100%;

    grid-column: 1;

}



.NavContainer .navLogo img {
    width: 13rem;

}



.NavContainer .navLinks {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;

    gap: 2rem;
}


.NavContainer .navLinks button {
    border: none;
    border-radius: 15px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.2px;
    font-size: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #09F7F9;
    background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
    box-shadow: 2px 2px 10px #09F7F9;
    transition: 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
}



.NavContainer .navLinks button:hover {

    transform: translateY(-2px);
    cursor: pointer;


}

.hamburgerContainer {
    display: none;

}




@media (max-width: 380px) {
    .hamburgerContainer {
        padding-top: 1rem;
    }
}



@media (max-width: 767px) {
    .NavContainer {
        display: none;
    }

    .hamburgerContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-items: end;
        width: 90%;
        padding-top: 1rem;
        align-items: center;
        margin: 0 auto;



    }

    .hamburgerContainer .navLogo img {
        width: 15rem;
    }

    .hamburgerContainer i {
        font-size: 2.8rem;
        margin-bottom: 1rem;
        color: var(--text-primary);
    }


    .hamburgerContainer .hamburgerMenuActive {
        width: 60%;
        height: 100%;
        background: var(--bg-primary);


        border: 1px solid var(--bg-secondary);
        box-shadow: 4px 4px 20px var(--bg-primary);
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        position: fixed;
        top: 0;
        right: 0;
        padding: 2rem;
        z-index: 100;
        display: grid;
        grid-template-columns: minmax(0, 100%);
        grid-template-rows: 10rem 1fr auto;

    }


    .hamburgerContainer .hamburgerMenuActive .menuHeader {
        display: grid;
        grid-template-columns: minmax(0, 100%);
        grid-template-rows: 1fr;

        padding-bottom: 0.5rem;
        align-items: baseline;
        border-bottom: 1px solid #e0e0e0;
    }


    .hamburgerContainer .hamburgerMenuActive .menuHeader .title {
        grid-area: 1/1;
        display: flex;
        gap: 24px;
        flex-direction: column;
        position: relative;

    }





    .hamburgerContainer .hamburgerMenuActive .logo img {
        width: 10rem;
        object-fit: cover;
        position: relative;

    }



    .hamburgerContainer .hamburgerMenuActive .menuHeader .title p {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--text-primary);
        margin: 0;
        top: -25%;
        left: 7%;
        position: absolute;
    }




    .hamburgerContainer .hamburgerMenuActive .menuHeader .close {
        grid-column: 2;
        color: var(--text-tertiary);
    }

    .hamburgerContainer .hamburgerMenuActive .menuHeader .close i {
        color: var(--text-tertiary);
    }



    .hamburgerContainer .hamburgerMenuActive .navLinks {
        margin-left: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }










    .hamburgerContainer .hamburgerMenuActive .navLinks p {
        font-weight: 300;
        font-size: 1.7rem;
        margin: 0;

        color: var(--text-tertiary);
        transition: 0.2s ease-in-out;

    }



    .hamburgerContainer .hamburgerMenuActive .navLinks p:active {
        color: #09F7F9;
        animation: moveGradient 3s ease-in-out infinite;
        cursor: pointer;
    }


    .hamburgerContainer .hamburgerMenuActive .navLinks .button {
        display: flex;
        flex-direction: column;
    }


    .hamburgerContainer .hamburgerMenuActive .navLinks button {
        border: none;

        border-radius: 15px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 1.7rem;
        padding-right: 1.7rem;
        text-align: center;
        color: #ffffff;
        font-size: 1.6rem;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        background: #09F7F9;
        background: linear-gradient(56deg, rgba(9, 247, 249, 1) 0%, rgba(26, 144, 218, 1) 100%);
        box-shadow: 2px 2px 10px #09F7F9;
        transition: 0.3s ease-in-out;
        position: relative;
        transform: translateY(0);

    }





    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader {
        display: grid;
        grid-template-columns: minmax(0, 100%);
        grid-template-rows: 1fr;
        margin-bottom: 4rem;
        width: 100%;
        justify-items: center;
        align-self: center;
        justify-content: space-between;



    }




    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader .media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader .media h1 {
        font-weight: 400;
        font-size: 1.3rem;
        pointer-events: none;

    }

    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader .media .socialIcons {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }


    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader .media .socialIcons i {
        font-size: 1.4rem;
        color: #D8D8D8;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }


    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader .media .socialIcons i:hover {
        color: #bdbdbd;
    }


    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader .additonalLinks {
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-top: 1rem;


    }


    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader .additonalLinks p {
        color: #BABABA;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
    }


    .hamburgerContainer .hamburgerMenuActive .menuFooter .footerHeader .additonalLinks p:hover {
        color: #a4a4a4;
        cursor: pointer;

    }






    .hamburgerContainer .hamburgerMenuClosed {
        display: none;
    }


}


@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {


    .NavContainer {

        max-width: 1180px;
        width: 90%;




    }


}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .NavContainer {

        max-width: 1180px;
        width: 90%;




    }
}



@media (min-width: 1366px) and (max-width: 1400px) and (orientation: landscape) {
    .NavContainer {

        max-width: 1180px;
        width: 90%;




    }
}