@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap');

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}



:root {
  font-size: 90%;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden ;
  background: #0B1048;
  background: linear-gradient(174deg, rgba(11, 16, 72, 1) 0%, rgba(9, 13, 58, 1) 100%);
  color: white;
  
  
  
  
  
  
}





body {
  margin: 0;
  overflow: hidden;
 
  
  
}

#root{

  display: grid;
  grid-template-columns:minmax(0, 100%);
  grid-template-rows: 6rem 1fr auto;
  gap: 5%;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  z-index: 1;
  

  


}





/*sections*/

.navActive{
  grid-row: 1;
  height: fit-content;
  position: sticky;
  top: 0;
  background-color: #090D3A;
  height: 8rem;
  z-index: 1000;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  
}
.notNavActive{
  display: none;
}

.content{
  grid-row: 2;
  position: relative;
  z-index: 50;
  
  
}





/*active section logic*/


.activeSection{
  display: block;
  animation: fadeIn 0.5s ease-in-out;

}

.notActiveSection{
  display: none;
}

footer{
  grid-row: 3;
  border-top: 2px solid #D7D7D7;
  background-color: #090D3A;
}







@media (max-width: 767px) {
  
  :root{
    font-size: 75%;
    
    
  }
  #root{
    grid-template-rows: 3rem 1fr auto;
  }

  
  .navActive{
    height: 10rem;

  }
  

  
.navActive{
  
  border-bottom-right-radius: 0px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  
}

 
 

 
  

  
}



@media (max-width: 380px) {
  
  :root{
    font-size: 65%;
    
    
  }
  #root{
    grid-template-rows: 3rem 1fr auto;
  }

  
  .navActive{
    height: 10rem;

  }
  

  
.navActive{
  
  border-bottom-right-radius: 0px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  
}

 
 

 
  

  
}



@media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
  
  :root{
    font-size: 65%;
    
    
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  :root{
    font-size: 75%;
    
    
  }
  #root{
     gap: 0%;
  }
   
}