@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap');


:root {
  font-size: 90%;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden ;
  
  
  margin: 0 auto;
  
  
  
}





body {
  margin: 1rem;
 
  
  
}

#root{
  display: grid;
  grid-template-columns:minmax(0, 100%);
  grid-template-rows: 6rem 1fr auto;
  max-width: 1400px;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  
}


/*sections*/

header{
  grid-row: 1;
}

.content{
  grid-row: 2;
}

footer{
  grid-row: 3;
}



/*active section logic*/


.activeSection{
  display: grid;
}

.noActiveSecton{
  display: none;
}